.spoiler {
    color: red;
    background-color:red;
}

.spoiler:hover{
    color: black;
}

#article {
    margin: 2vh auto;
    background-color: #faf9f9;
    padding: 2vh 2vw;
}

#article-title {
    font-size: large;
    margin: 0;
    padding: 0;
    color: #2f3e46;
}

#article-details {
    color: #6d6875;
}

#article-description {
    width: 95%;
    margin: auto;
}

.activity {
    display: flex;
    width: 50rem;
    height: 20rem;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(207, 218, 223);
    color: rgb(225, 65, 65);
    font-size: 30px;
    margin-left:350px;
    font-family:arial;
  }